.info {
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
	padding-bottom: 30px;
}

.btnn {
	background-color: #FFFFFF;
	/* outline: none; */
	/* border: none; */
	/* padding: 10px; */
	cursor: pointer;
	height: 30px;
	width: 170px;	
	border-radius: 10px;
	text-align: center;
}