.header {
    width: 100%;
    background-color: rgb(219, 215, 215);
    padding: 12px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.profile {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    align-items: flex-end;
}