.post {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	border-radius: 10px;
	width: 400px;
}

.card:hover {
	box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}

.card:focus-within {
	box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.16), 0px 0.5px 2px rgba(96, 97, 112, 0.24);
}

.card__desc {
	font-size: 16px;
	padding-top: 14px;
	font-weight: 600;
	position: relative;
}


.card__image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
}


.card__wight {
	font-size: 12px;
	line-height: 14px;
	color: #7b8e98;
	display: block;
	margin-bottom: 2px;
}

.card__name {
	font-size: 16px;
	line-height: 1.25;
}

.card__sticky {
	position: absolute;
	padding: 10px;
}

.card__sticky_type_bottom-left {
	bottom: -5px;
	left: 0;
}

.card__sticky_type_bottom-right {
	bottom: -5px;
	right: 0;
}

.card__favorite {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	display: flex;
}

.card__favorite-icon_active {
	fill: #ff0000;
}


.card__favorite-icon:hover {
	fill: #ff0000;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.likes {
	position: relative;
	bottom: -5px;
	right: 5px;
}

.card__cart {
	margin-top: auto;
}

.post_info {
	padding-top: 5px;
}


.card__link {
	text-decoration: none;
	color: currentColor;
}

.btn {
	color: inherit;
	padding: 10px 18px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 55px;
	text-decoration: none;
	display: inline-block;
	transition: background-color .3s;
}

.tag {
	padding: 2px 8px;
	border-radius: 20px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
}

.icons {
	padding-top: 40px;
}

.autor {
	padding-top: 10px;
}


.edit {
	right: -5px;
	position: absolute;
}


.form_com {
	display: none;
}

.commentss{
	cursor: pointer;
	width: 90%;
	display: grid;
	/* grid-template-rows: repeat(4, 1fr); */
	gap: 10px;
	cursor: pointer;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.comments_icon{
	width: 100%;
}

.delete_iconn{
	position: absolute;
	right: 20px;
}

.edit_iconn{
	position: absolute;
	right: 40px;
}